<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel= "stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
	<script>
		src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"
	</script>
	<title>Folder::List</title> 
	</head>
	<body>
		<div class ="panel panel-info">
		<div class= "panel-heading"><h3>Folders</h3></div>
		<table class= "table table-stripded">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Open Folder</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="folder : ${folders}">
					<td data-th-text="${folder.id}"></td>
					<td data-th-text="${folder.name}"></td>
					<td>
						<a th:href="@{'/index/{id}' (id=${folder.id})}">
							<span class "fa-stack">
								<i class="glyphicon glyphicon-folder-open"></i>
							</span>
						</a>
					</td>
					<td>
						<a th:href="@{'/deleteFolder/{id}' (id=${folder.id})}">
							<span class "fa-stack">
								<i class="glyphicon glyphicon-trash"></i>
							</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<br/>
		<a class="btn btn-info" href="/folderNew">Create new folder</a> 
		<a class="btn btn-info" href="/">Back to welcome page</a>
	</body>

</html>